header {
  background: url("../assets//images/download.jpg");
  background-repeat: no-repeat;
  background-position-x: right;
  /* background-attachment: fixed; */
  /* background-position: center; */
  /* background-size: cover; */
}
