body {
  overflow-y: scroll;
}
@font-face {
  font-family: "IRANSansWeb";
  src: url("./fonts//IRANSansWeb.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  font-family: "IRANSansWeb";
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100vh;
}

.container {
  width: 70%;
  margin: 0 auto;
}

@keyframes fadeInHoriz {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-horiz {
  animation: fadeInHoriz 0.8s ease forwards;
}
